#login-form {
	clear: both;
	background-color: #F6F9FF;
	padding: 30px 34px;
}

#login-form fieldset {
	margin:0 0 30px 0;
}

#login-form .form-field {
	margin: 20px 0;
	width: 75%;
	position:relative;
}

#login-form input[type="text"],
#login-form input[type="password"],
#login-form textarea {
	display: block;
	clear: left;
	width: 90%;
}

#login-form textarea {
	height: 250px;
}

#login-form.login-form input[type="text"],
#login-form.login-form input[type="password"] {
	width:200px;
	display: block;
	clear: left;
}


/* Password Strength Meter */

#pass-strength-result {
	width:200px;
	margin:5px 0;
	padding:2px 0;
	border:1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background:#EEE;
	text-align:center;
}

.short {
	background:#F66 !important;
}

.bad {
	background:#FCC !important;
}

.good {
	background:#FF9 !important;
}

.strong {
	background:#CFC !important;
}

#login-form p.description.indicator-hint {
	margin: 0;
	position: relative;
	width: 100%;
}

/* WangGaurd Registration */

#login-form.register-form p {
	margin: 20px 0px 20px 20px;
	position: relative;
	width: 75%;
}
