/*
Theme Name: Future and Co Bug Tracker
Template: Bug Tracker Theme/qualitycontrol
Author: Future and Co
Version: 1.0
Updated: 2014-10-18 13:08:43
*/

@charset "UTF-8";
@import url('../Bug Tracker Theme/qualitycontrol/style.css');

/* ------------------------------------------------------------
------------------- Elements
------------------------------------------------------------ */
.check-label {
  display: inline-block !important;
  margin-left: 4px !important;
}

/* ------------------------------------------------------------
------------------- Widgets
------------------------------------------------------------ */
#sidebar li.widget_fco_team_widget-2 li, #sidebar li.widget_fco_team_widget li {
  position: relative;
  display: block;
  min-height: 35px;
  padding: 5px 0;
  margin: 0;
  color: #555;
  font-weight: 700;
  clear: right;
}

#sidebar li.widget_fco_team_widget-2 li a, #sidebar li.widget_fco_team_widget li a {
  clear: left;
}

#sidebar li.widget_fco_team_widget-2 li img.avatar, #sidebar li.widget_fco_team_widget li img.avatar {
  background: #FFF;
  padding: 3px;
  float: left;
  margin: -3px 5px 0 0;
  max-height: 40px;
  max-width: 40px;
  overflow: hidden;
  border: 1px solid #EEE;
}

#sidebar li.widget_fco_team_widget-2 li span.activity,
#sidebar li.widget_fco_team_widget-2 li span.assignment,
#sidebar li.widget_fco_team_widget li span.activity,
#sidebar li.widget_fco_team_widget li span.assignment {
  color: #888;
  font-weight: 400;
  display: inline-block;
  font-size: 92%;
}

#sidebar li.widget_fco_team_widget-2 li span.activity, #sidebar li.widget_fco_team_widget li span.activity {
  width: 80%;
}

#sidebar li.widget_fco_recent_widget-2 li span.post-date, #sidebar li.widget_fco_recent_widget li span.post-date {
  margin-left: 5px;
}

/* ------------------------------------------------------------
------------------- Tickets
------------------------------------------------------------ */

.ticket_priority-low > .ticket-meta {
  background: rgb(153, 255, 153);
  background: rgba(153, 255, 153, .3);
}

.ticket_priority-medium > .ticket-meta {
  background: rgb(255, 128, 0);
  background: rgba(255, 128, 0, .3);
}

.ticket_priority-high > .ticket-meta {
  background: rgb(204, 0, 0);
  background: rgba(204, 0, 0, .5);
}

.ticket-meta > li > small {
  color: #000000;
}

.client-form #ticket_milestone, .client-form #ticket-assign, .client-form #ticket_status {
  display: none;
}

.tabber-navigation .second-level li a span {
  background: rgb(153, 255, 153);
  background: rgba(153, 255, 153, .5);
  color: #000000;
}

.tabber-navigation .second-level li a span.tax-empty {
  background: rgb(204, 0, 0);
  background: rgba(204, 0, 0, .7);
}

.ticket-meta li {
  border-right: 1px solid #000;
}